.yellow-box {
  background-color: yellow;
  color: black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: absolute;
  top: -130px;
}
